html, body {
	font-family: 'Conso', "Courier New";
	font-size: 13px;
	margin: 0;
	color: white;
	height: 100%;
}

body {
	box-sizing: border-box;
	background-color: #021E27;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

input {
	border-bottom: 1px dashed white !important;
	padding: 5px;
	text-align: center;
}

input,
textarea {
	border: none;
	background: transparent;
	outline: none;
	color: white;
	resize: none;
}

p {
	word-wrap: break-word;
	margin: 0;
}

a {
	color: white;
}

code {
	margin: 0;
	background: #053746;
	padding: 10px;
}

blockquote {
	border-left: 3px solid white;
	padding-left: 10px;
	margin: 0;
	font-style: italic;
}

ul {
	margin: 0;
	padding-left: 1em
}

li {
	list-style-type: square;
}

#login-box {
	width: 400px;
	text-align: center;
	padding-top: 23%;
	margin: auto;
}

#login-logo {
	width: 250px;
}

#logo {
	width: 100%;
}

#app {
	width: 100%;
	height: 100%;
}

#nav {
	background: #032630;
	padding: 20px;
}

#pinned {
	background: #032630;
	padding: 20px;
}

#user {
	color: white;
	margin-top: 5px;
}

#content {
	height: 100%;
	background: #04303d;
}

#message-list {
	overflow: auto;
	background: transparent;
	padding: 10px;
}

#input-message {
	background: transparent;
}

.message-item {
	color: white;
	padding-top: 10px;
	display: flex;
}

.message-pinned {
	color: white;
	padding-top: 10px;
	display: flex;
}

.message-date {
	color: #5f5f5f;
	width: 50px;
	min-width: 50px;
}

.message-date-alt {
	color: #5f5f5f;
}

.username {
	min-width: 30px;
	margin: 0 10px;
}

.message {
	flex: auto;
	margin: 0;
	padding-left: 10px;
}

.inputs {
	margin: 20px;
}

.input-message {
	width: calc(100% - 20px);
	height: calc(100% - 25px);
	padding: 10px;
}

button {
	background: transparent;
	border: none;
	font-size: 12px;
}

button:hover, a:hover {
	background: #0096c1;
	color: #00303e;
	cursor: pointer;
}

.blue-link {
	color: #66d9ef;
}

.green-link {
	color: #a6e22e;
}

.red-link {
	color: #ec007c;
}

.green-text {
	color: #a6e22e;
}

.red-text {
	color: red;
}

.bold {
	font-weight: bold;
}

.line-through {
	text-decoration: line-through;
}

.oneliner {
	display: inline-block;
	max-height: 20px;
	overflow: hidden;
	color: #999999;
	margin-top: 10px;
}

/* TESTING */
.split {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	overflow-y: auto;
	overflow-x: hidden;
}

.gutter {
	background-color: #021E27;

	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-horizontal {
	cursor: col-resize;
	background-image: url('/static/img/grips/vertical.png');
}

.gutter.gutter-vertical {
	cursor: row-resize;
	background-image: url('/static/img/grips/horizontal.png');
}

.split.split-horizontal, .gutter.gutter-horizontal {
	height: 100%;
	float: left;
}

.no-margin {
	margin: 0 !important;
}

.atwho-view {
	background: #021E27;
	color: white;
	border: none;
	border-radius: 0;
	box-shadow: none;
	max-height: 300px;
}

.atwho-view ul li {
	border: none;
}

.atwho-view .cur {
	background: #0096c1;
	border: none;
}

.ejs-video-preview {
	padding: 5px;
	border: none;
	background-color: #052933;
}

.ejs-image {
	max-width: 300px;
}